<section class="collections-section">
  <h2 class="collections-title">Nuestros Proyectos</h2>
  <div class="collections-grid">
    <div class="collection-card">
      <img src="images/chal/chalaranza.png" alt="Chalecos y Chals" class="collection-image">
      <h3 class="collection-name">Chals y Chalecos</h3>
      <p class="collection-description">Descubre más de nuestros Chals y Chalecos en nuestra sección de diseños.</p>
    </div>
    <div class="collection-card">
      <img src="images/bolsos/Bolsor2.png" alt="Bolsos" class="collection-image">
      <h3 class="collection-name">Nuestra colección de bolsos</h3>
      <p class="collection-description">Conoce más sobre nuestros bolsos en la sección de diseños</p>
    </div>
    <div class="collection-card">
      <img src="images/presentation.png" alt="Equipo de crochet a trois" class="collection-image">
      <h3 class="collection-name">Más sobre nuestro trabajo</h3>
      <p class="collection-description">Conoce más sobre nuestro trabajo y colaboraciones.</p>
    </div>
  </div>
</section>

