<app-logo></app-logo>
<div class="navbar-container">
<app-navigation-bar></app-navigation-bar>
</div>

<section class="diseno-section">
  <h2 class="diseno-title">Nuestros Diseños</h2>
  <div class="diseno-flex">
    <div class="diseno-card">
      <img src="images/bolsos/bolsorosa.png" alt="Bolso Peonía, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Bolso Peonía</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/p/Cs0j3jwMjZk/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

    <div class="diseno-card">
      <img src="images/bolsos/Bolson.png" alt="Bolso Etnico, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Bolso Etnico</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/crochetatrois/reel/CxLdtQQt2Gl/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

    <div class="diseno-card">
      <img src="images/bolsos/Bolsom.png" alt="Riñonera Festival, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Riñonera</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/p/CxkZsfitsdw/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

    <div class="diseno-card">
      <img src="images/chal/Chal1.png" alt="Chal Relaño, patrón de Crochet A Trois, realizado por Crochet At Trois" class="diseno-image">
      <h3 class="diseno-name">Chal Relaño</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/crochetatrois/reel/C0zuZoEtUrn/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

      <div class="diseno-card">
      <img src="images/chal/Chal2.png" alt="Chal a cuatro manos, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Chal a cuatro manos</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/crochetatrois/reel/DEfRynbtfVI/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

      <div class="diseno-card">
      <img src="images/alfonso.png" alt=" Top Aldonoso, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Top Chicos</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/crochetatrois/reel/C6sqyHQtRmQ/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

      <div class="diseno-card">
      <img src="images/beaferia.png" alt="'Falso' Mantón, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Mantón</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/crochetatrois/reel/C5NYLlXNZno/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

      <div class="diseno-card">
      <img src="images/chalecoab.png" alt="Chaleco abierto, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Chaleco Abierto</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/crochetatrois/reel/C2JxpXRtiZz/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

      <div class="diseno-card">
      <img src="images/JerseyM.png" alt="Jersey 8M, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Jesery 8M </h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/crochetatrois/reel/C4Puxm7NJmL/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

      <div class="diseno-card">
      <img src="images/Loopy2.png" alt="Chaleco Loopy, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Chaleco Loopy</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/crochetatrois/reel/DA0L_uzNImT/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

      <div class="diseno-card">
      <img src="images/topplaya.png" alt="Top Watermlon, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Top Watermelon</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/crochetatrois/reel/C_il_UotV_w/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

      <div class="diseno-card">
      <img src="images/Vestidocris.png" alt="Vesitdo, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Vestido Nati - Aresta. </h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/crochetatrois/reel/CrbCGw5t_eM/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

      <div class="diseno-card">
      <img src="images/madrid/cris.png" alt="Cardigan Cris, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Cardingan Cris</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/crochetatrois/reel/DH6DNa0ttzG/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

      <div class="diseno-card">
      <img src="images/zapascomu.png" alt="Merceritas de esparto, realizadas por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Merceritas de Esparto</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/crochetatrois/reel/DIeKLaRtdxV/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

      <div class="diseno-card">
      <img src="images/coches.png" alt="Diseño para coches.net, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Choches.net</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/crochetatrois/reel/DE25gwMOz2d/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>

    <div class="diseno-card">
      <img src="images/CamiSum.png" alt="Camisa Summer, realizado por Crochet A Trois" class="diseno-image">
      <h3 class="diseno-name">Camisa Summer</h3>
      <p class="diseno-description"></p>
      <a href="https://www.instagram.com/p/C92X_3UtY2h/" class="diseno-link" target="_blank">Ver en Instagram</a>
    </div>
  
   
     
  </div>
</section>
<app-footer></app-footer>























