/* Global Styles */
:host {
  display: contents;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(to top left, #bae6fd, #fecdd3, #fef3c7);
}

/* Navigation Styles */
.nav-container {
  padding: 1rem 2rem;
  color: #2d3436;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

 /*mensaje bienvenida, h1 y alineanmiento botones */
.page-header {
  padding: 4rem 2rem;
  color: #2d3436;
  text-align: center;
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.h1-container {
  display: flex;
  font-family: "DynaPuff", sans-serif;
  font-size: 2.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-image: linear-gradient(to bottom, #f59e0b, #4b5563, #0ea5e9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header-text {
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(45deg, #2d3436 30%, #636e72 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.05em;
  font-family: "DynaPuff", "Poppins", sans-serif;
  text-align: center;
} 

/* botones navegacion */
.desktop-nav {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-family: "Federo", sans-serif;
  font-size: 1rem;
  color: #2d3436;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.247);
}

.nav-link:hover {
  background: rgb(255, 255, 255);
  transform: translateY(-2px);
  transition: 0s;
  text-decoration: underline;
}

.header-description {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 2rem;
}

/* Main Content */
.main-content {
  flex: 1;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

/* Móvil */
@media (max-width: 768px) {
  .nav-content,
  .nav-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
